h1 {
    font-family: Calibri;
    text-align: center;
    background-color: rgb(175, 171, 171);
    color: black;
    padding: 20px;
    margin-right: 430px;
    margin-left: 430px;
    border-radius: 100px;
}
[ {    
"product": "Milk 0.5% 1L carton", "best_before": "2019-05-19", "price": 11.95
}, { 
"product": "Milk 0.5% 1L carton", "best_before": "2019-05-19", "price": 11.95
}, {
"product": "Milk 0.5% 1L carton", "best_before": "2019-05-19", "price": 11.95
}, {
"product": "Milk 0.5% 1L carton", "best_before": "2019-05-19", "price": 11.95
}, {
"product": "Milk 1.5% 1L carton", "best_before": "2019-05-19", "price": 11.95
}, {
"product": "Milk 1.5% 1L carton", "best_before": "2019-05-19", "price": 11.95
}, {
"product": "Milk 1.5% 1L carton", "best_before": "2019-05-19", "price": 11.95
}, {
"product": "Milk 3% 1L carton", "best_before": "2019-05-19", "price": 12.95
}, {
"product": "Milk 3% 1L carton", "best_before": "2019-05-19", "price": 12.95
}, {
"product": "Milk 3% 1L carton", "best_before": "2019-05-19", "price": 12.95
}, {
"product": "Milk 3% 1L carton", "best_before": "2019-05-19", "price": 12.95
}, {
"product": "Milk 3% 1L carton", "best_before": "2019-05-19", "price": 12.95
}, {
"product": "Milk 3% 1L carton", "best_before": "2019-05-19", "price": 12.95
}, {
"product": "Milk 1.5% 1.5L carton", "best_before": "2019-05-19", "price": 17.95
}, {
"product": "Milk 1.5% 1.5L carton", "best_before": "2019-05-19", "price": 17.95
}, {
"product": "Milk 1.5% 1.5L carton", "best_before": "2019-05-19", "price": 17.95
}, {
"product": "Milk 3% 1.5L carton", "best_before": "2019-05-19", "price": 18.95
}, {
"product": "Milk 3% 1.5L carton", "best_before": "2019-05-19", "price": 18.95
}, {
"product": "Milk 3% 1.5L carton", "best_before": "2019-05-19", "price": 18.95
}, {
"product": "Milk 3% 1.5L carton", "best_before": "2019-05-19", "price": 18.95
}, {
"product": "Milk 3% 1.5L carton", "best_before": "2019-05-19", "price": 18.95
}, {
"product": "Milk 1.8% 2L carton", "best_before": "2019-05-19", "price": 26.95
}, {
"product": "Milk 1.8% 2L carton", "best_before": "2019-05-19", "price": 26.95
}, {
"product": "Milk 2.9-3.1% 2L carton", "best_before": "2019-05-19", "price": 26.95
}, {
"product": "Milk 2.9-3.1% 2L carton", "best_before": "2019-05-19", "price": 26.95
}, {
"product": "Milk 2.9-3.1% 2L carton", "best_before": "2019-05-19", "price": 26.95
}, {
"product": "Bread Frasrost 450g", "best_before": "2019-05-23", "Price": 21.95
}, {
"product": "Bread Frasrost 450g", "best_before": "2019-05-23", "Price": 21.95
}, {
"product": "Bread Frasrost 450g", "best_before": "2019-05-23", "Price": 21.95
}, {
"product": "Pearl wheat bread 600g", "best_before": "2019-05-23", "Price": 32.95
}, {
"product": "Pearl wheat bread 600g", "best_before": "2019-05-23", "Price": 32.95
}, {
"product": "Pearl wheat bread 600g", "best_before": "2019-05-23", "Price": 32.95
}, {
"product": "Pearl wheat bread 600g", "best_before": "2019-05-23", "Price": 32.95
}, {
"product": "Eggs 6-p", "best_before": "2019-05-25", "Price": 15.95
}, {
"product": "Eggs 6-p", "best_before": "2019-05-25", "Price": 15.95
}, {
"product": "Eggs 6-p", "best_before": "2019-05-25", "Price": 15.95
}, {
"product": "Eggs 6-p", "best_before": "2019-05-25", "Price": 15.95
}, {
"product": "Eggs 6-p", "best_before": "2019-05-25", "Price": 15.95
}, {
"product": "Eggs 12-p", "best_before": "2019-05-25", "Price": 35.95
}, {
"product": "Eggs 12-p", "best_before": "2019-05-25", "Price": 35.95
}, {
"product": "Eggs 12-p", "best_before": "2019-05-25", "Price": 35.95
}, {
"product": "Eggs 12-p", "best_before": "2019-05-25", "Price": 35.95
}, {
"product": "Eggs 12-p", "best_before": "2019-05-25", "Price": 35.95
}, {
"product": "Eggs 15-p", "best_before": "2019-05-25", "Price": 39.95
}, {
"product": "Eggs 15-p", "best_before": "2019-05-25", "Price": 39.95
}, {
"product": "Eggs 15-p", "best_before": "2019-05-25", "Price": 39.95
}, {
"product": "Eggs 15-p", "best_before": "2019-05-25", "Price": 39.95
}, {
"product": "Yogurt 3% 1L carton", "best_before": "2019-05-30", "Price": 17.95
}, {
"product": "Yogurt 3% 1L carton", "best_before": "2019-05-30", "Price": 17.95
}, {
"product": "Yogurt 3% 1L carton", "best_before": "2019-05-30", "Price": 17.95
}, {
"product": "Yogurt 3% 1L carton", "best_before": "2019-05-30", "Price": 17.95
}, {
"product": "Yogurt 3% 1L carton", "best_before": "2019-05-30", "Price": 17.95
}, {
"product": "Yogurt 6% 1L carton", "best_before": "2019-05-30", "Price": 20.95
}, {
"product": "Yogurt 6% 1L carton", "best_before": "2019-05-30", "Price": 20.95
}, {
"product": "Yogurt 6% 1L carton", "best_before": "2019-05-30", "Price": 20.95
}, {
"product": "Yogurt strawberry 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt strawberry 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt strawberry 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt strawberry 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt raspberry 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt raspberry 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt raspberry 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt raspberry 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt vanilla 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt vanilla 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt vanilla 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt vanilla 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Yogurt vanilla 2% 1L carton", "best_before": "2019-05-30", "Price": 22.95
}, {
"product": "Creme Fraiche 34% 2dl", "best_before": "2019-05-30", "Price": 13.95
}, {
"product": "Creme Fraiche 34% 2dl", "best_before": "2019-05-30", "Price": 13.95
}, {
"product": "Creme Fraiche 34% 2dl", "best_before": "2019-05-30", "Price": 13.95
}, {
"product": "Creme Fraiche 34% 2dl", "best_before": "2019-05-30", "Price": 13.95
}, {
"product": "Orange juice 2L", "best_before": "2019-05-31", "Price": 28.95
}, {
"product": "Orange juice 2L", "best_before": "2019-05-31", "Price": 28.95
}, {
"product": "Orange juice 2L", "best_before": "2019-05-31", "Price": 28.95
}, {
"product": "Orange juice 2L", "best_before": "2019-05-31", "Price": 28.95
}, {
"product": "Apple juice 2L", "best_before": "2019-05-31", "Price": 28.95
}, {
"product": "Apple juice 2L", "best_before": "2019-05-31", "Price": 28.95
}, {
"product": "Apple juice 2L", "best_before": "2019-05-31", "Price": 28.95
}, {
"product": "Apple juice 2L", "best_before": "2019-05-31", "Price": 28.95
}, {
"product": "Swedish meatballs fried 350g", "best_before": "2019-06-01", "Price": 22.95
}, {
"product": "Swedish meatballs fried 350g", "best_before": "2019-06-01", "Price": 22.95
}, {
"product": "Swedish meatballs fried 350g", "best_before": "2019-06-01", "Price": 22.95
}, {
"product": "Swedish meatballs fried 350g", "best_before": "2019-06-01", "Price": 22.95
}, {
"product": "Grill sausage 400g", "best_before": "2019-06-03", "Price": 13.95
}, {
"product": "Grill sausage 400g", "best_before": "2019-06-03", "Price": 13.95
}, {
"product": "Grill sausage 400g", "best_before": "2019-06-03", "Price": 13.95
}, {
"product": "Grill sausage 400g", "best_before": "2019-06-03", "Price": 13.95
}, {
"product": "Chips salta 275g", "best_before": "2019-06-05", "Price": 21.95
}, {
"product": "Chips salta 275g", "best_before": "2019-06-05", "Price": 21.95
}, {
"product": "Chips salta 275g", "best_before": "2019-06-05", "Price": 21.95 
}, {
"product": "Chips salta 275g", "best_before": "2019-06-05", "Price": 21.95
}, {
"product": "Chips Sourcream & onion 275g", "best_before": "2019-06-05", "Price": 21.95
}, {
"product": "Chips Sourcream & onion 275g", "best_before": "2019-06-05", "Price": 21.95
}, {
"product": "Chips Sourcream & onion 275g", "best_before": "2019-06-05", "Price": 21.95
}, {
"product": "Chips Sourcream & onion 275g", "best_before": "2019-06-05", "Price": 21.95
}, {
"product": "Digestive original 400g", "best_before": "2019-06-06", "Price": 20.95
}, {
"product": "Digestive original 400g", "best_before": "2019-06-06", "Price": 20.95
}, {
"product": "Digestive original 400g", "best_before": "2019-06-06", "Price": 20.95
}, {
"product": "Digestive original 400g", "best_before": "2019-06-06", "Price": 20.95
} ]