@media(min-width:900px){p{color:white;}}

body {
    background-image: url("images/cumulus-cloud.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1, h2{
margin: 1%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3, ul, li{
  font-family: 'Times New Roman', Times, serif;
}
p{
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
#grid-floats{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
}
img {
  display: block;
  width: 100%;
  max-width: 960px;
}
li {
  margin: 3%;
  padding: 3%;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5); 
  border-radius: 20px;
}
#grid-floats .grid-item:nth-child(1) {
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 606px;
}
.grid-item{
  float: left;
}
#grid-floats .grid-item:nth-child(2) {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }
